$color-main: #ffcc00;

$gray: #666666;
$gray--light: #898f8f;
$gray--dark: #333333;

$font-family: 'Raleway';
$font-size: 14px;
$line-height: 1.71;

$font-family--btn: 'Open Sans';
$font-weight--btn: 700;

$font-family--title: 'Roboto';
$font-weight--title: 900;
$line-height--title: 1.1;

$font-size--h2: 60px;

$font-size--h3: 36px;

$font-weight--h4: 400;
$font-size--h4: 24px;
$line-height--h4: 1.5;

$slides-quantity: 3;
