.btn {
	font-family: $font-family--btn;
	font-weight: $font-weight--btn;
	font-size: $font-size;
	line-height: $line-height;
	color: $gray;

	&--yellow {
		width: 120px;
		height: 24px;
		text-transform: uppercase;
		@include border();
		
		&:hover {
			border-color: lighten($color-main, 15%);
		}
	}
}